// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.3);

$rescuetime-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// Widget-rescuetime styles
// ----------------------------------------------------------------------------
.widget-rescuetime {

  background-color: $background-color;

  input.rescuetime {
    background-color: $rescuetime-background;
    color: #fff;
  }

  .title {
    color: $title-color;
  }

  .prettyValue {
    background: inherit;
    position: absolute;
    top: 180px;
    left: 90px;
    width: 120px;
    font-size: 32px;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
}
