@font-face {
    font-family: 'AlegreyaSansThin';
    src: url('../fonts/alegreya-sans/AlegreyaSans-Thin.otf') format('opentype');
}
@font-face {
    font-family: 'AlegreyaSansLight';
    src: url('../fonts/alegreya-sans/AlegreyaSans-Light.otf') format('opentype');
}
@font-face {
    font-family: 'AlegreyaSansNormal';
    src: url('../fonts/alegreya-sans/AlegreyaSans-Black.otf') format('opentype');
}
@font-face {
    font-family: 'AlegreyaSansMedium';
    src: url('../fonts/alegreya-sans/AlegreyaSans-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'AlegreyaSansBold';
    src: url('../fonts/alegreya-sans/AlegreyaSans-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'AlegreyaSansNormalItalic';
    src: url('../fonts/alegreya-sans/AlegreyaSans-BlackItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'AlegreyaSansBoldItalic';
    src: url('../alegreya-sans/AlegreyaSans-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
