@charset "UTF-8";

//Standard setup
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent; }
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
img { border: 0; }
figure { margin: 1em 40px; }
input { line-height: normal; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { font-size: 10px; -webkit-tap-highlight-color: transparent; }
body { font-family: "Muli", sans-serif; font-size: 14px; line-height: 1.5; color: #333333; background-color: #fff; }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: #337ab7; text-decoration: none; }
a:hover, a:focus { color: #23527c; text-decoration: underline; }
a:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
figure { margin: 0; }
img { vertical-align: middle; }
.img-responsive { display: block; max-width: 100%; height: auto; }
.img-rounded { border-radius: 6px; }
.img-thumbnail { padding: 4px; line-height: 1.5; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; -webkit-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; display: inline-block; max-width: 100%; height: auto; }
.img-circle { border-radius: 50%; }
hr { margin-top: 21px; margin-bottom: 21px; border: 0; border-top: 1px solid #eeeeee; }
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto; }
h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small { font-weight: normal; line-height: 1; color: #777777; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 21px; margin-bottom: 10.5px; }
h1 small, h1 .small, .h1 small, .h1 .small, h2 small, h2 .small, .h2 small, .h2 .small, h3 small, h3 .small, .h3 small, .h3 .small { font-size: 65%; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10.5px; margin-bottom: 10.5px; }
h4 small, h4 .small, .h4 small, .h4 .small, h5 small, h5 .small, .h5 small, .h5 .small, h6 small, h6 .small, .h6 small, .h6 .small { font-size: 75%; }
h1, .h1 { font-size: 35px; }
h2, .h2 { font-size: 22px; }
h3, .h3 { font-size: 14px; }
h4, .h4 { font-size: 16px; }
h5, .h5 { font-size: 14px; }
h6, .h6 { font-size: 14px; }
p { margin: 0 0 10.5px; }
small, .small { font-size: 85%; }
mark, .mark { background-color: #fcf8e3; padding: .2em; }

//Dashing standards
/*
  //=require_directory .
  //=require_tree ../../widgets
*/
// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #222;
$text-color: #fff;

$background-attention-color-1: #ffff00;
$background-attention-color-2: #ffea00;
$text-warning-color: #fff;

$background-warning-color-1: #e82711;
$background-warning-color-2: #9b2d23;
$text-warning-color: #fff;

$background-danger-color-1: #eeae32;
$background-danger-color-2: #ff9618;
$text-danger-color: #fff;

@-webkit-keyframes status-warning-background {
  0%   { background-color: $background-warning-color-1; }
  50%  { background-color: $background-warning-color-2; }
  100% { background-color: $background-warning-color-1; }
}
@-webkit-keyframes status-danger-background {
  0%   { background-color: $background-danger-color-1; }
  50%  { background-color: $background-danger-color-2; }
  100% { background-color: $background-danger-color-1; }
}
@-webkit-keyframes status-attention-background {
  0%   { background-color: $background-attention-color-1; }
  50%  { background-color: $background-attention-color-2; }
  100% { background-color: $background-attention-color-1; }
}
@mixin animation($animation-name, $duration, $function, $animation-iteration-count:""){
  -webkit-animation:  $animation-name $duration $function #{$animation-iteration-count};
  -moz-animation:     $animation-name $duration $function #{$animation-iteration-count};
  -ms-animation:      $animation-name $duration $function #{$animation-iteration-count};
}

// ----------------------------------------------------------------------------
// Base styles
// ----------------------------------------------------------------------------
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 50%;
  max-height:100%;
}

iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 12px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
h2 {
  text-transform: uppercase;
  font-size: 76px;
  font-weight: 700;
  color: $text-color;
}
h3 {
  font-size: 25px;
  font-weight: 600;
  color: $text-color;
}

// ----------------------------------------------------------------------------
// Base widget styles
// ----------------------------------------------------------------------------
.gridster {
  margin: 0px auto;
}

.icon-background {
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 275px;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs_w {
  width: 100%;
  display: table;
  cursor: pointer;
}

.widget {
  padding: 25px 12px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  display: block;
  height: 250px;
  h1 {
    color: black;
  }
  h2 {
    color: black;
  }
  h3 {
    color: black;
    vertical-align: middle;
  }
  p {
    color: black;
  }
  span {
    color: black;
  }
}

.double-height {
  height: 510px;
}
@media (max-width: 767px) { .double-height { height: 250px; } }

.widget.status-attention {
  background-color: $background-attention-color-1;
  @include animation(status-attention-background, 5s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

}

.widget.status-warning {
  background-color: $background-warning-color-1;
  @include animation(status-warning-background, 5s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

}

.widget.status-danger {
  background-color: $background-danger-color-1;
  @include animation(status-danger-background, 5s, ease, infinite);

  .icon-warning-sign {
    display: inline-block;
  }

}

.more-info {
  font-size: 15px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
}

.updated-at {
  font-size: 12px;
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
}

.time_past {
  font-weight: bold;
  font-size: 25px;
  margin-top: 25px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

//Column widths
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 10px; padding-right: 10px; margin-bottom: 10px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-1 { width: 8.33333%; }
.col-xs-2 { width: 16.66667%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.33333%; }
.col-xs-5 { width: 41.66667%; }
.col-xs-6 { width: 50%; }
.col-xs-7 { width: 58.33333%; }
.col-xs-8 { width: 66.66667%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.33333%; }
.col-xs-11 { width: 91.66667%; }
.col-xs-12 { width: 100%; }
.col-xs-pull-0 { right: auto; }
.col-xs-pull-1 { right: 8.33333%; }
.col-xs-pull-2 { right: 16.66667%; }
.col-xs-pull-3 { right: 25%; }
.col-xs-pull-4 { right: 33.33333%; }
.col-xs-pull-5 { right: 41.66667%; }
.col-xs-pull-6 { right: 50%; }
.col-xs-pull-7 { right: 58.33333%; }
.col-xs-pull-8 { right: 66.66667%; }
.col-xs-pull-9 { right: 75%; }
.col-xs-pull-10 { right: 83.33333%; }
.col-xs-pull-11 { right: 91.66667%; }
.col-xs-pull-12 { right: 100%; }
.col-xs-push-0 { left: auto; }
.col-xs-push-1 { left: 8.33333%; }
.col-xs-push-2 { left: 16.66667%; }
.col-xs-push-3 { left: 25%; }
.col-xs-push-4 { left: 33.33333%; }
.col-xs-push-5 { left: 41.66667%; }
.col-xs-push-6 { left: 50%; }
.col-xs-push-7 { left: 58.33333%; }
.col-xs-push-8 { left: 66.66667%; }
.col-xs-push-9 { left: 75%; }
.col-xs-push-10 { left: 83.33333%; }
.col-xs-push-11 { left: 91.66667%; }
.col-xs-push-12 { left: 100%; }
.col-xs-offset-0 { margin-left: 0%; }
.col-xs-offset-1 { margin-left: 8.33333%; }
.col-xs-offset-2 { margin-left: 16.66667%; }
.col-xs-offset-3 { margin-left: 25%; }
.col-xs-offset-4 { margin-left: 33.33333%; }
.col-xs-offset-5 { margin-left: 41.66667%; }
.col-xs-offset-6 { margin-left: 50%; }
.col-xs-offset-7 { margin-left: 58.33333%; }
.col-xs-offset-8 { margin-left: 66.66667%; }
.col-xs-offset-9 { margin-left: 75%; }
.col-xs-offset-10 { margin-left: 83.33333%; }
.col-xs-offset-11 { margin-left: 91.66667%; }
.col-xs-offset-12 { margin-left: 100%; }
@media (min-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-1 { width: 8.33333%; }
  .col-sm-2 { width: 16.66667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333%; }
  .col-sm-5 { width: 41.66667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333%; }
  .col-sm-8 { width: 66.66667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333%; }
  .col-sm-11 { width: 91.66667%; }
  .col-sm-12 { width: 100%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-pull-1 { right: 8.33333%; }
  .col-sm-pull-2 { right: 16.66667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333%; }
  .col-sm-pull-5 { right: 41.66667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333%; }
  .col-sm-pull-8 { right: 66.66667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333%; }
  .col-sm-pull-11 { right: 91.66667%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-push-1 { left: 8.33333%; }
  .col-sm-push-2 { left: 16.66667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333%; }
  .col-sm-push-5 { left: 41.66667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333%; }
  .col-sm-push-8 { left: 66.66667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333%; }
  .col-sm-push-11 { left: 91.66667%; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-offset-0 { margin-left: 0%; }
  .col-sm-offset-1 { margin-left: 8.33333%; }
  .col-sm-offset-2 { margin-left: 16.66667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333%; }
  .col-sm-offset-5 { margin-left: 41.66667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333%; }
  .col-sm-offset-8 { margin-left: 66.66667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333%; }
  .col-sm-offset-11 { margin-left: 91.66667%; }
  .col-sm-offset-12 { margin-left: 100%; } }
@media (min-width: 992px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-1 { width: 8.33333%; }
  .col-md-2 { width: 16.66667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333%; }
  .col-md-5 { width: 41.66667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333%; }
  .col-md-8 { width: 66.66667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333%; }
  .col-md-11 { width: 91.66667%; }
  .col-md-12 { width: 100%; }
  .col-md-pull-0 { right: auto; }
  .col-md-pull-1 { right: 8.33333%; }
  .col-md-pull-2 { right: 16.66667%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-4 { right: 33.33333%; }
  .col-md-pull-5 { right: 41.66667%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-7 { right: 58.33333%; }
  .col-md-pull-8 { right: 66.66667%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-10 { right: 83.33333%; }
  .col-md-pull-11 { right: 91.66667%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-push-0 { left: auto; }
  .col-md-push-1 { left: 8.33333%; }
  .col-md-push-2 { left: 16.66667%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-4 { left: 33.33333%; }
  .col-md-push-5 { left: 41.66667%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-7 { left: 58.33333%; }
  .col-md-push-8 { left: 66.66667%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-10 { left: 83.33333%; }
  .col-md-push-11 { left: 91.66667%; }
  .col-md-push-12 { left: 100%; }
  .col-md-offset-0 { margin-left: 0%; }
  .col-md-offset-1 { margin-left: 8.33333%; }
  .col-md-offset-2 { margin-left: 16.66667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333%; }
  .col-md-offset-5 { margin-left: 41.66667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333%; }
  .col-md-offset-8 { margin-left: 66.66667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333%; }
  .col-md-offset-11 { margin-left: 91.66667%; }
  .col-md-offset-12 { margin-left: 100%; } }
@media (min-width: 1200px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-1 { width: 8.33333%; }
  .col-lg-2 { width: 16.66667%; }
  .col-lg-3 { width: 25%; }
  .col-lg-4 { width: 33.33333%; }
  .col-lg-5 { width: 41.66667%; }
  .col-lg-6 { width: 50%; }
  .col-lg-7 { width: 58.33333%; }
  .col-lg-8 { width: 66.66667%; }
  .col-lg-9 { width: 75%; }
  .col-lg-10 { width: 83.33333%; }
  .col-lg-11 { width: 91.66667%; }
  .col-lg-12 { width: 100%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-pull-1 { right: 8.33333%; }
  .col-lg-pull-2 { right: 16.66667%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-4 { right: 33.33333%; }
  .col-lg-pull-5 { right: 41.66667%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-7 { right: 58.33333%; }
  .col-lg-pull-8 { right: 66.66667%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-10 { right: 83.33333%; }
  .col-lg-pull-11 { right: 91.66667%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-push-1 { left: 8.33333%; }
  .col-lg-push-2 { left: 16.66667%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-4 { left: 33.33333%; }
  .col-lg-push-5 { left: 41.66667%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-7 { left: 58.33333%; }
  .col-lg-push-8 { left: 66.66667%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-10 { left: 83.33333%; }
  .col-lg-push-11 { left: 91.66667%; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-offset-0 { margin-left: 0%; }
  .col-lg-offset-1 { margin-left: 8.33333%; }
  .col-lg-offset-2 { margin-left: 16.66667%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.33333%; }
  .col-lg-offset-5 { margin-left: 41.66667%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.33333%; }
  .col-lg-offset-8 { margin-left: 66.66667%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.33333%; }
  .col-lg-offset-11 { margin-left: 91.66667%; }
  .col-lg-offset-12 { margin-left: 100%; } }

//Page fonts and settings
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Muli",
  sans-serif; font-weight: 400;
  line-height: 1.3;
  color: inherit;
}
@-ms-viewport { width: device-width; }
body { background-color: black; color: white; }
header, footer { font-size: 15px; }
header { padding: 20px 0 30px; }
footer { padding: 20px 0 60px; }
h1, h2, h3, h4, h5, h6 { color: white; }
h1 { margin-top: 0; }
h2 { text-align: center; }
h2 + * { margin-top: 30px; }
h4 { margin: 0; }
a { color: #d13dc5; }
a:hover { color: #6c2eb2; }

//Container settings
#container { margin-right: auto; margin-left: auto; padding-left: 10px; padding-right: 10px; padding-top: 10px;}
#container:before, #container:after { content: " "; display: table; }
#container:after { clear: both; }
@media (min-width: 768px) { #container { width: 740px; } }
@media (min-width: 992px) { #container { width: 960px; } }
@media (min-width: 1200px) { #container { width: 970px; } }

//Row
.row { height: 100%; }
@media (max-width: 768px) { #container { width: 100%; } }
.title-row { height: none; }
.row:before, .row:after { display: table; }
.row:after { clear: both; }

//Introductory text
.intro p { color: white; font-family: "Muli", sans-serif; font-size: 16px; }
.intro h1 { text-align: left; font-size: 40px; padding-top: 10px; }
@media (max-width: 767px) { .description { height: auto; }
  .intro { padding-top: 20px; }
  .intro h1 { text-align: center;  }
}

//Questions text
.questions p { color: white; font-family: "Muli", sans-serif; }

//Dashboard links
.dashboard { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }
.dashboard:hover { box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); cursor: pointer;}
.dashboard { margin-bottom: 21px; background-color: #fff; border: 1px solid transparent; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
.dashboard-button {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.dashboard-title { margin-top: 0; margin-bottom: 0; font-size: 20px; color: black; }
.dashboard-title { text-transform: uppercase; letter-spacing: 1px; text-align: center; }
.dashboard-subtitle { margin-top: 0; margin-bottom: 0; font-size: 14px; color: black; }
.dashboard-subtitle { text-transform: uppercase; letter-spacing: 1px; text-align: center; }
.dashboard-link:hover { text-decoration: none; }

.help { height: 100px; background-color: white; color: black; }
.help-title h3 {
  text-align: center;
}
#trello {
  .help {
    height: 160px;
  }
  .help-title {
    height: 160px;
  }
}

.help-title { height: 100px; background-color: orange; }
.help-icon:before {
	content: "\f059  ";
	font-family: FontAwesome;
}

.github-issues h1:before {
  content: "\f09b  ";
	font-family: FontAwesome;
}

.github-prs h1:before {
  content: "\f09b  ";
	font-family: FontAwesome;
}

.github-forks h1:before {
  content: "\f09b  ";
	font-family: FontAwesome;
}

.home-icon:before {
	content: "\f015  ";
	font-family: FontAwesome;
}

.help-icon {
  float: right;
  color: black;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 2px;
}

.home-icon {
  float: right;
  color: black;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 2px;
}

.help-icon:hover {
  color: black;
  text-decoration: none;
}

.category:before {
	content: "\f02e  ";
	font-family: FontAwesome;
}

.info {
  color: #6c2eb2;
}

.info:before {
	content: "\f129   ";
	font-family: FontAwesome;
}

.goal:before {
	content: "\f140  ";
	font-family: FontAwesome;
}

.goal {
  color: #6c2eb2;
}

.code > a:before {
	content: "\f09b  ";
	font-family: FontAwesome;
}

.code {  a {
    color: #6c2eb2;
  }
  a:hover {
    color: #d13dc5;
  }
}

.first-help-row {
  margin-top:1200px;
}

.help-row {
  margin-left: -10px;
  margin-right: -10px;
  height: 120px;
  h3 {
    color: black;
  }
  a {
    color: #6c2eb2;
  }
  a:hover {
    color: #d13dc5;
  }
}

.category {
  color: #6c2eb2;
  font-size: 12px;
}

.full-width{
  width: 100%;
}

.black {
  background-color: black;
}

.padding-top {
  padding-top: 10px;
}

.padding-top-3 {
  padding-top: 30px;
}

.what {
  height:auto;
}

@media (min-width: 768px) {
  .quote-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .metadata-container {
    position: relative;
    top: 50%;
  }
}

@media (max-width: 767px) {
  .widget-quotes {
    height: 100%;
  }
  .help-title {
    height: 50px;
    margin-bottom: 0;
  }
  .help {
    height: auto;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .help-row {
    height: auto;
  }
}

.color-1 {
  background-color: #48D1CC;
}

.color-2 {
  background-color: #9932CC;
}

.grey {
  background-color: #4C4C4C;
}

.color-3 {
  background-color: #0B46CF;
}
