<% content_for :title do %>Camille's dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wunderlist" data-view="Number" data-title="Today"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="email" data-view="Number" data-title="Email" style="background-color:#FF8000"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="newsletter" data-view="TimeSinceLast" data-title="Last newsletter" style="background-color:#013ADF"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="blog" data-view="TimeSinceLast" data-title="Last blog post" style="background-color:#0089DF"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="trello-ongoing" data-view="Number" data-title="Trello: Ongoing" style="background-color:#DA81F5"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="trello-writing" data-view="Number" data-title="Trello: Writing" style="background-color:#3ADF00"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="trello-drawing" data-view="Number" data-title="Trello: Drawing" style="background-color:#8000FF"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="trello-icebox" data-view="Number" data-title="Trello: Icebox" style="background-color:#6E6E6E"></div>
    </li>
  </ul>
</div>
