<% content_for :title do %>Camille's dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="releases" data-view="List" data-unordered="true" data-title="Boxen releases"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
      <div data-id="forks" data-view="List" data-unordered="true" data-title="Forks to update" style="background-color:#DA81F5"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="github-issues" data-view="Number" data-title="GitHub Issues" style="background-color:#6E6E6E"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="github-prs" data-view="Number" data-title="Pull requests" style="background-color:#8000FF"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="gemnasium" data-view="Number" data-title="Gemnasium" style="background-color:#FFFF00"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="statuscake" data-view="Number" data-title="Monitoring" style="background-color:#3ADF00"></div>
    </li>
  </ul>
</div>
