<% content_for :title do %>Camille's dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="quotes" data-view="Comments" data-unordered="true" data-title="Quotes"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rescuetime_total_productive" data-view="Rescuetime" data-title="Productive" data-min="0" data-max="240"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="rescuetime_total_unproductive" data-view="Rescuetime" data-title="Unproductive" data-min="0" data-max="240"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="2">
      <div data-id="instagram" data-view="Image" data-title="Instagram" data-min="0" data-max="240"></div>
    </li>
  </ul>
</div>
