<% content_for :title do %>Camille's dashboard - Entertainment<% end %>
<%
file = File.read('data/entertainment.json')
@help = JSON.parse(file)
%>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
      <div class="col-sm-3">
        <a class="help-icon" href="#go_watch_it"></a>
        <div data-id="go_watch_it" data-view="Number" data-title="GoWatchIt" class="color-3"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#pocket"></a>
        <div data-id="pocket" data-view="Number" data-title="Pocket" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#books"></a>
        <div data-id="books" data-view="Number" data-title="Books" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#kindle"></a>
        <div data-id="kindle" data-view="Number" data-title="Kindle books" class="grey"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a class="help-icon" href="#films"></a>
        <div data-id="films" data-view="Number" data-title="Films" class="color-1"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#tv"></a>
        <div data-id="tv" data-view="Number" data-title="TV Shows" class="color-2"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#videos"></a>
        <div data-id="videos" data-view="Number" data-title="Videos" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#podcasts"></a>
        <div data-id="podcasts" data-view="Number" data-title="Podcasts" class="grey"></div>
      </div>
    </div>
    <%= erb(:help, :layout => false) %>
  </div>
  <%= erb(:gauges, :layout => false) %>
</body>
