<% content_for :title do %>Camille's dashboard - Entertainment<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="films" data-view="Number" data-title="Films"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="tv" data-view="Number" data-title="TV Shows"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="podcasts" data-view="Number" data-title="Podcasts"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="videos" data-view="Number" data-title="Videos"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pocket" data-view="Number" data-title="Pocket"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="books" data-view="Number" data-title="Books"></div>
    </li>
  </ul>
</div>
