<% content_for :title do %>Camille's dashboard - Entertainment<% end %>
<style>
  body {
    background-color: black;
  }
  #container {
    width: 100%;
  }
</style>
<div class="row">
    <div class="col-sm-3">
      <div data-id="rss" data-view="Number" data-title="RSS" style="background-color:cyan"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="pocket" data-view="Number" data-title="Pocket" style="background-color:#DA81F5"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="books" data-view="Number" data-title="Books" style="background-color:#3ADF00"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="kindle" data-view="Number" data-title="Kindle books" style="background-color:#0089DF"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
      <div data-id="films" data-view="Number" data-title="Films" style="background-color:#8000FF"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="tv" data-view="Number" data-title="TV Shows" style="background-color:#6E6E6E"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="videos" data-view="Number" data-title="Videos"style="background-color:yellow"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="podcasts" data-view="Number" data-title="Podcasts" style="background-color:#FF8000"></div>
    </div>
</div>
