<% content_for :title do %>Camille's dashboard - Entertainment<% end %>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
        <div class="col-sm-3">
          <div data-id="rss" data-view="Number" data-title="RSS" class="cyan"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="pocket" data-view="Number" data-title="Pocket" class="lilac"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="books" data-view="Number" data-title="Books" class="green"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="kindle" data-view="Number" data-title="Kindle books" class="blue"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
          <div data-id="films" data-view="Number" data-title="Films" class="purple"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="tv" data-view="Number" data-title="TV Shows" class="grey"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="videos" data-view="Number" data-title="Videos" class="yellow"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="podcasts" data-view="Number" data-title="Podcasts" class="orange"></div>
        </div>
    </div>
  </div>
</body>
