<% content_for :title do %>Camille's dashboard - Entertainment<% end %>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
        <div class="col-sm-3 flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div data-id="rss" data-view="Number" data-title="RSS"></div>
            </div>
            <div class="back">
              <div class="measurement-header">
                <h3 class="measurement-title">RSS</h3>
              </div>
              <div class="description">
                <p class="goal">Zero</p>
                <p>I use <a href="http://feedly.com">Feedly</a> to collect posts from a number of blogs posts, mostly technical ones that I find interesting.</p>
                <p>If you would like to see more details about what I read, you can <a href="feedly.opml">view the OPML file for my Feedly content</a>.</p>
                <p class="code"><a href="https://gist.github.com/camilleldn/e7756c5067bc11323aee">Code for widget</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div data-id="pocket" data-view="Number" data-title="Pocket"></div>
            </div>
            <div class="back">
              <div class="measurement-header">
                <h3 class="measurement-title">Pocket</h3>
              </div>
              <div class="description">
                <p class="goal">Zero</p>
                <p>I use <a href="http://getpocket.com">Pocket</a> to save links that are sent to me or I see on social media, so I can save them to read later. </p>
                <p class="code"><a href="https://gist.github.com/camilleldn/faff5cd21dee6a64867a">Code for widget</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div data-id="books" data-view="Number" data-title="Books" class="cyan"></div>
            </div>
            <div class="back">
              <div class="measurement-header">
                <h3 class="measurement-title">Books</h3>
              </div>
              <div class="description">
                <p class="info">I treat my reading list like a queue: first in, last out.</p>
                <p class="goal">Should ever increase</p>
                <p>I occasionally still buy or get given books in "dead-tree" format. I track those through
                <a href="https://www.goodreads.com/">GoodReads</a> on a "to-read" list.</p>
                <p class="code"><a href="https://gist.github.com/camilleldn/4f873e77cc625ba3632b">Code for widget</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div data-id="kindle" data-view="Number" data-title="Kindle books" class="lilac"></div>
            </div>
            <div class="back">
              <div class="measurement-header">
                <h3 class="measurement-title">Kindle books</h3>
              </div>
              <div class="description">
                <p class="info">I treat my reading list like a queue: first in, last out.</p>
                <p class="goal">Should never increase</p>
                <p>I use Kindle to read e-books on my phone and tablet.</p>
                <p class="code"><a href="https://gist.github.com/camilleldn/3eb233168e62fab96de2">Code for widget</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div data-id="films" data-view="Number" data-title="Films" class="purple"></div>
            </div>
            <div class="back">
              <div class="measurement-header">
                <h3 class="measurement-title">Films</h3>
              </div>
              <div class="description">
                  <p class="goal">Zero home videos</p>
                  <p>I have a home-brewed Plex-like media server setup at home that can talk to my Amazon Prime, Netflix accounts and personal files. I have the ability to add content to my list of things to watch.</p>
                  <p>My home videos are mostly technical training videos like the excellent <a href="http://www.rubytapas.com">Ruby Tapas</a>.</p>
                  <p class="code"><a href="https://gist.github.com/camilleldn/b3df4f58efe938d05912">Code for widget</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div data-id="tv" data-view="Number" data-title="TV Shows" class="grey"></div>
            </div>
            <div class="back">
              <div class="measurement-header">
                <h3 class="measurement-title">TV shows</h3>
              </div>
              <div class="description">
                  <p class="goal">Zero home videos</p>
                  <p>I have a home-brewed Plex-like media server setup at home that can talk to my Amazon Prime, Netflix accounts and personal files. I have the ability to add content to my list of things to watch.</p>
                  <p>My home videos are mostly technical training videos like the excellent <a href="http://www.rubytapas.com">Ruby Tapas</a>.</p>
                  <p class="code"><a href="https://gist.github.com/camilleldn/b3df4f58efe938d05912">Code for widget</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div data-id="videos" data-view="Number" data-title="Videos" class="cream"></div>
            </div>
            <div class="back">
              <div class="measurement-header">
                <h3 class="measurement-title">Videos</h3>
              </div>
              <div class="description">
                  <p class="goal">Zero home videos</p>
                  <p>I have a home-brewed Plex-like media server setup at home that can talk to my Amazon Prime, Netflix accounts and personal files. I have the ability to add content to my list of things to watch.</p>
                  <p>My home videos are mostly technical training videos like the excellent <a href="http://www.rubytapas.com">Ruby Tapas</a>.</p>
                  <p class="code"><a href="https://gist.github.com/camilleldn/b3df4f58efe938d05912">Code for widget</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <div data-id="podcasts" data-view="Number" data-title="Podcasts" class="dark-blue"></div>
            </div>
            <div class="back">
              <div class="measurement-header">
                <h3 class="measurement-title">Podcasts</h3>
              </div>
              <div class="description">
                <p class="goal">Zero</p>
                <p>I use <a href="https://play.pocketcasts.com/web">PocketCasts</a> to manage my podcasts.</p>
                <p>I listen to: <a href="http://99percentinvisible.org/">99% Invisible</a>, <a href="http://www.bbfc.co.uk/case-studies/podcasts">BBFC</a>,
                  <a href="https://developertea.com/">Developer Tea</a>, <a href="http://freakonomics.com/">Freakonomics</a>,
                  <a href="http://www.bbc.co.uk/podcasts/series/fricomedy">Friday Night Comedy (BBC4)</a>, <a href="http://www.npr.org/programs/invisibilia/">Invisibilia</a>,
                  <a href="http://shiftrunstop.co.uk/">Shift Run Stop</a>, <a href="http://songexploder.net/">Song Exploder</a>,
                  <a href="http://www.stuffyoushouldknow.com/podcasts/">Stuff You Should Know</a>,
                  <a href="http://daringfireball.net/thetalkshow/">The Talk Show</a>,
                  <a href="http://www.thisamericanlife.org/">This American Life</a>, <a href="http://www.onthemedia.org/tags/tldr_podcast/">TLDR</a> and <a href="http://http://www.macintosh.fm/">Welcome to Macintosh</a>.
                </p>
                <p class="code"><a href="https://gist.github.com/camilleldn/40db50ad9bef72c7c304">Code for widget</a></p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</body>
