<% content_for :title do %>Camille's dashboard - Entertainment<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="learnings" data-view="Comments" data-title="Learnings"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rss" data-view="Number" data-title="RSS" style="background-color:#013ADF"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="pocket" data-view="Number" data-title="Pocket" style="background-color:#DA81F5"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="books" data-view="Number" data-title="Books" style="background-color:#3ADF00"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="films" data-view="Number" data-title="Films" style="background-color:#8000FF"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="tv" data-view="Number" data-title="TV Shows" style="background-color:#6E6E6E"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="videos" data-view="Number" data-title="Videos"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="podcasts" data-view="Number" data-title="Podcasts" style="background-color:#FF8000"></div>
    </li>
  </ul>
</div>
