<% content_for :title do %>Camille's dashboard<% end %>
<body>
  <div id="container">
    <div class="title-row">
      <div class="col-sm-12 clearfix" style="margin-bottom: 30px;">
        <div class="intro">
          <h1>Camille's dashboards</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="dashboard">
          <a class="dashboard-link" href="/tasks">
            <div class="dashboard-button">
              <h3 class="dashboard-title">Tasks</h3>
              <h3 class="dashboard-subtitle">dashboard</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="dashboard">
          <a class="dashboard-link" href="/entertainment">
            <div class="dashboard-button">
              <h3 class="dashboard-title">Entertainment</h3>
              <h3 class="dashboard-subtitle">dashboard</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="dashboard">
          <a class="dashboard-link" href="/tech">
            <div class="dashboard-button">
              <h3 class="dashboard-title">Tech</h3>
              <h3 class="dashboard-subtitle">dashboard</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="dashboard">
          <a class="dashboard-link" href="/other">
            <div class="dashboard-button">
              <h3 class="dashboard-title">Other</h3>
              <h3 class="dashboard-subtitle">dashboard</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="dashboard">
          <a target="_blank" class="dashboard-link" href="http://camille-pa11y-dashboard.herokuapp.com/">
            <div class="dashboard-button">
              <h3 class="dashboard-title">Accessibility</h3>
              <h3 class="dashboard-subtitle">dashboard</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="what">
      <div class="col-sm-8 clearfix">
        <div class="intro">
          <p>I'm Camille Baldock, a software engineer based in London, UK.</p>
          <p>I use these dashboards to monitor various aspects of my life and work.</p>
          <p>You can follow me on <a href="https://twitter.com/camille_">Twitter</a>, <a href="https://github.com/camilleldn">GitHub</a> or <a href="http://camillebaldock.com">check out my website</a>.</p>
        </div>
      </div>
    </div>
    <div class="what">
      <div class="col-sm-12 clearfix">
        <div class="questions">
          <p>Want to see how the code works? <span><a href="https://github.com/camilleldn/dashboard">Check it out on GitHub</a>.</span></p>
          <p>Questions? <span><a href="https://github.com/camilleldn/dashboard/issues">File an issue on GitHub</a> or <a href="mailto:camille@camillebaldock.com">email me</a></span>.</p>
        </div>
      </div>
    </div>

  </div>
</body>
