<% content_for :title do %>Camille's dashboard - Other<% end %>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
        <div class="col-sm-12">
          <div data-id="quotes" data-view="Text" class="lilac"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
          <div data-id="rescuetime" data-view="Number" data-title="Productivity" class="grey"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="laptop" data-view="TimeSinceLast" data-title="Last laptop rebuild" class="dark-blue"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="project-euler" data-view="Number" data-title="Unsolved Project Euler" class="cyan"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="aww" data-view="Image"></div>
        </div>
    </div>
  </div>
</body>
