<% content_for :title do %>Camille's dashboard - Other<% end %>
<style>
  body {
    background-color: black;
  }
  #container {
    width: 100%;
  }
</style>
<div class="row">
    <div class="col-sm-6">
      <div data-id="quotes" data-view="Text" style="background-color:yellow"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="aww-1" data-view="Image"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="aww-2" data-view="Image"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
      <div data-id="rescuetime" data-view="Number" data-title="Productivity" style="background-color:#6E6E6E"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="laptop" data-view="TimeSinceLast" data-title="Last laptop rebuild" style="background-color:#013ADF"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="aww-3" data-view="Image"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="aww-4" data-view="Image"></div>
    </div>
</div>
