<% content_for :title do %>Camille's dashboard - Other<% end %>
<%
file = File.read('data/other.json')
@help = JSON.parse(file)
%>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
      <div class="col-sm-6">
        <a class="help-icon" href="#quotes"><span class="hidden">Quotes Info</span></a>
        <div data-id="quotes" data-view="Quotes" class="double-height color-2"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#euler"><span class="hidden">Unsolved Project Euler Info</span></a>
        <div data-id="euler" data-view="Number" data-title="Unsolved Project Euler" class="grey"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a class="help-icon" href="#training"><span class="hidden">Training Info</span></a>
        <div data-id="training" data-view="Number" data-title="Training" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#challenges"><span class="hidden">Coding challenges Info</span></a>
        <div data-id="challenges" data-view="Number" data-title="Coding challenges" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#rss"><span class="hidden">RSS Info</span></a>
        <div data-id="rss" data-view="Number" data-title="RSS" class="grey"></div>
      </div>
    </div>
    <%= erb(:help, :layout => false) %>
  </div>
</body>
