<% content_for :title do %>Camille's dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="wunderlist" data-view="Number" data-title="Today"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="email" data-view="Number" data-title="Email"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="newsletter" data-view="Number" data-title="Days since newsletter"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="trello-ongoing" data-view="Number" data-title="Trello: Ongoing"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="trello-writing" data-view="Number" data-title="Trello: Writing"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="trello-drawing" data-view="Number" data-title="Trello: Drawing"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="trello-icebox" data-view="Number" data-title="Trello: Icebox"></div>
    </li>
  </ul>
</div>
