<% content_for :title do %>Camille's dashboard - Tasks<% end %>
<style>
  body {
    background-color: black;
  }
  #container {
    width: 100%;
  }
</style>
<div class="row">
    <div class="col-sm-3">
      <div data-id="wunderlist" data-view="Number" data-title="TODOs" style="background-color:yellow"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="email" data-view="Number" data-title="Email" style="background-color:#FF8000"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="newsletter" data-view="TimeSinceLast" data-title="Newsletter" style="background-color:#013ADF"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="blog" data-view="TimeSinceLast" data-title="Blog" style="background-color:#0089DF"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
      <div data-id="trello-ongoing" data-view="Number" data-title="Ongoing" style="background-color:#DA81F5"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="trello-writing" data-view="Number" data-title="Writing" style="background-color:#3ADF00"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="trello-drawing" data-view="Number" data-title="Drawing" style="background-color:#8000FF"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="trello-icebox" data-view="Number" data-title="Icebox" style="background-color:#6E6E6E"></div>
    </div>
</div>
