<% content_for :title do %>Camille's dashboard - Tasks<% end %>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
        <div class="col-sm-3">
          <div data-id="wunderlist" data-view="Number" data-title="TODOs" class="green"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="email" data-view="Number" data-title="Email" class="green"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="newsletter" data-view="TimeSinceLast" data-title="Newsletter" class="green"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="blog" data-view="TimeSinceLast" data-title="Blog" class="green"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
          <div data-id="trello-ongoing" data-view="Number" data-title="Ongoing" class="cream"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="trello-writing" data-view="Number" data-title="Writing" class="lilac"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="trello-drawing" data-view="Number" data-title="Drawing" class="cyan"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="trello-icebox" data-view="Number" data-title="Icebox" class="purple"></div>
        </div>
    </div>
  </div>
</body>
