<% content_for :title do %>Camille's dashboard - Tasks<% end %>
<%
file = File.read('data/tasks.json')
@help = JSON.parse(file)
%>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
      <div class="col-sm-3">
        <a class="help-icon" href="#wunderlist"><span class="hidden">TODOs Info</span></a>
        <div data-id="wunderlist" data-view="Number" data-title="TODOs" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#email"><span class="hidden">Email Info</span></a>
        <div data-id="email" data-view="Number" data-title="Email" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#newsletter"><span class="hidden">Newsletter Info</span></a>
        <div data-id="newsletter" data-view="TimeSinceLast" data-title="Newsletter" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#blog"><span class="hidden">Blog/Photos Info</span></a>
        <div data-id="blog" data-view="TimeSinceLast" data-title="Blog/Photos" class="grey"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a class="help-icon" href="#trello"><span class="hidden">Current Info</span></a>
        <div data-id="trello-current" data-view="Number" data-title="Current" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#trello"><span class="hidden">Prioritised Info</span></a>
        <div data-id="trello-prioritised" data-view="Number" data-title="Prioritised" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#trello"><span class="hidden">Ready Info</span></a>
        <div data-id="trello-ready" data-view="Number" data-title="Ready" class="grey"></div>
      </div>
      <div class="col-sm-3">
        <a class="help-icon" href="#trello"><span class="hidden">Icebox Info</span></a>
        <div data-id="trello-icebox" data-view="Number" data-title="Icebox" class="grey"></div>
      </div>
    </div>
    <%= erb(:help, :layout => false) %>
  </div>
</body>
