<% content_for :title do %>Camille's dashboard - Tech<% end %>
<%
file = File.read('data/tech.json')
@help = JSON.parse(file)
%>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
        <div class="col-sm-3">
          <a class="help-icon" href="#releases"><span class="hidden">Boxen releases Info</span></a>
          <div class="double-height grey" data-id="releases" data-view="List" data-unordered="true" data-title="Boxen releases"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#github-forks"><span class="hidden">Forks Info</span></a>
          <div data-id="github-forks" data-view="List" data-unordered="true" data-title="Forks" class="grey"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#github-issues"><span class="hidden">Issues Info</span></a>
          <div data-id="github-issues" data-view="Number" data-title="Issues" class="grey"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#github-prs"><span class="hidden">Pulls Info</span></a>
          <div data-id="github-prs" data-view="Number" data-title="Pulls" class="grey"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
          <a class="help-icon" href="#travis"><span class="hidden">CI Info</span></a>
          <div data-id="travis" data-view="Number" data-title="CI" class="grey"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#gemnasium"><span class="hidden">Gemnasium Info</span></a>
          <div data-id="gemnasium" data-view="Number" data-title="Gemnasium" class="grey"></div>
        </div>
        <div class="col-sm-3">
          <a class="help-icon" href="#statuscake"><span class="hidden">Monitoring Info</span></a>
          <div data-id="statuscake" data-view="Number" data-title="Monitoring" class="grey"></div>
        </div>
    </div>
    <%= erb(:help, :layout => false) %>
  </div>
</body>
