<% content_for :title do %>Camille's dashboard - Tech<% end %>
<body class="black">
  <div id="container" class="full-width">
    <div class="row">
        <div class="col-sm-3">
          <div class="double-height green" data-id="releases" data-view="List" data-unordered="true" data-title="Boxen releases"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="github-forks" data-view="List" data-unordered="true" data-title="Forks to update" class="green"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="github-issues" data-view="Number" data-title="GitHub Issues" class="green"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="github-prs" data-view="Number" data-title="Pull requests" class="green"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
          <div data-id="travis" data-view="Number" data-title="Website Builds" class="green"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="gemnasium" data-view="Number" data-title="Gemnasium" class="green"></div>
        </div>
        <div class="col-sm-3">
          <div data-id="statuscake" data-view="Number" data-title="Monitoring" class="green"></div>
        </div>
    </div>
  </div>
</body>
