<% content_for :title do %>Camille's dashboard - Tech<% end %>
<style>
  body {
    background-color: black;
  }
  #container {
    width: 100%;
  }
</style>
<div class="row">
    <div class="col-sm-3">
      <div class="double-height" data-id="releases" data-view="List" data-unordered="true" data-title="Boxen releases" class="cyan"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="github-forks" data-view="List" data-unordered="true" data-title="Forks to update" class="lilac"></div>
      <div data-id="travis" data-view="Number" data-title="Website Builds" class="dark-blue"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="github-issues" data-view="Number" data-title="GitHub Issues" class="grey"></div>
      <div data-id="gemnasium" data-view="Number" data-title="Gemnasium" class="yellow"></div>
    </div>
    <div class="col-sm-3">
      <div data-id="github-prs" data-view="Number" data-title="Pull requests" class="purple"></div>
      <div data-id="statuscake" data-view="Number" data-title="Monitoring" class="green"></div>
    </div>
</div>
